<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Voluntaryism.me</title>
        <style>{% include style.css %}</style>
    </head>
    <body>
      <div class="container">

        <header> {% include header.html %} </header>

        <main>
            <h1>{{ title }}</h1>

            {{ content }}
        </main>

        <footer> {% include footer.html %} </footer>
      </div>
    </body>
</html>
